<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <title>Hello, Node School App!</title>
  </head>
  <body>
    <!-- reactOutput is the server compiled React Dom Nodes -->
    <!-- comment out reactOutput to see empty non indexable source in browser -->
    <div id="root">
      <div><%- reactOutput %></div>
    </div>

    <!-- comment out main.js to ONLY see server side rendering -->
    <script src="bundle.js"></script>

  </body>
</html>